;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [
  [reagent "1.2.0"]
  [cider/cider-nrepl "0.43.3"] ;; mandatory (unless it's inherited from deps.edn or otherwise present in the classpath of shadow-cljs's JVM process)
  [refactor-nrepl/refactor-nrepl "3.9.0"]
  [taipei.404/html-to-hiccup "0.1.8"]
  [cljs-http "0.1.48"]
  [com.rpl/specter "1.1.4"]
  [cljs-ajax "0.8.4"]

  [thi.ng/color "1.5.1"]

  ;; [rum "0.12.11"]
  ]

 ;; :dev-http {8080 "public"}

 :nrepl {:middleware [cider.nrepl/cider-middleware ;; it's advisable to explicitly add this middleware. It's automatically added by shadow-cljs (if available in the classpath), unless `:nrepl {:cider false}`
                      refactor-nrepl.middleware/wrap-refactor] ;; refactor-nrepl is optional
         :port 50655} ;; optional - if not specified, a random free port will be used
 
 :builds
 {
  :voidnet {
            ;; :asset-path "public/voidnet"
            :modules {:main {:init-fn symautre.voidnet/init}}
            :output-dir "resources/public/voidnet/js"
            :target :browser
            ;; :dev-http {8081 "public/voidnet"}
            :devtools {:after-load  symautre.voidnet/init
                       :http-root   "resources/public/voidnet"
                       :http-port   3005
                       ;; :preloads    [shadow.cljs.devtools.client.hud
                       ;;               day8.re-frame-10x.preload
                       ;;               dirac.runtime.preload
                       ;;               devtools.preload]
                       }
            }

  ;; :voidnet-node {
  ;;                ;; :asset-path "public/voidnet"
  ;;                :modules {:main {:init-fn symautre.voidnet-node/init}}
  ;;                :output-dir "resources/public/voidnet-node/js"
  ;;                :output-to "resources/public/voidnet-node/js/script.js"
  ;;                :target :node-script
  ;;                :main symautre.voidnet-node/init

  ;;                :devtools {:repl-init-ns symautre.voidnet-node/init, :repl-pprint true},
  ;;                :port 3010
                 
  ;;                ;; :nrepl {:port 9000 
  ;;                ;;         :middleware []} ; optional list of namespace-qualified symbols 
  ;;                ;; :dev-http {8081 "public/voidnet"}
  ;;                ;; :devtools {:after-load  symautre.voidnet-node/init
  ;;                ;;            :http-root   "resources/public/voidnet-node"
  ;;                ;;            :http-port   3005
  ;;                ;;            ;; :preloads    [shadow.cljs.devtools.client.hud
  ;;                ;;            ;;               day8.re-frame-10x.preload
  ;;                ;;            ;;               dirac.runtime.preload
  ;;                ;;            ;;               devtools.preload]
  ;;                ;;            }
  ;;                }





  }
 
 }
