html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5; background-color:black;
	 
	 }
html{overflow-x:hidden}
.edn-kw{color:green}
.edn-brackets{color:green}


.fade-in-image { animation: fadeIn 5s; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



.hidden { visibility: hidden; }




.cursor-blinking {
    /*code commented for brevity*/
    animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
	opacity: 0;
    }

    100% {
	opacity: 1;
    }
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.document .in-focus{
    border-right: 3px solid #f44336;
}
