[
 {:id "512c7eef-0b69-4959-985d-ecc94be1315a",
  :type :document,
  :timestamp.unix 1703316358248,
  :timestamp "2023-12-23T07:25:58.248Z", 
  :ipfs/id ""
  :title "crime trash"
  :body [
         "war trash! 
one million days of crying on heaps of garbage
"
         ]
  :author nil
  :under "that design"
  :at "that design"
  }

 

 {
  :id "aed21d96-ddea-4352-ba33-a5f89298dcb7", :type :document, :timestamp.unix 1703390743821, :timestamp "2023-12-24T04:05:43.821Z",
  , :ipfs/id ""
  :code (pr-str '(let [xs #{"grapes of wrath"
                            "death star"
                            "parallax recursion"}]
                   (into [:div]
                         (for [x xs]
                           [:p x]
                           ))))
  :title "Canopy GrapeUnit -> Vacant Orb"
  :body [:div
         [:p "grapes of wrath"]
         [:p "death star"]
         [:p "parallax recursion"]]
  }
 
 

 ]










